/**
 * fileName: base.css
 * author: Mr.cat
 */

/* input[type="number"]去除右侧的上下箭头 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
 
input[type="number"] {
    -moz-appearance: textfield;
}


/* 垂直居中 */
.vertical-center {
	display: flex;
	align-items: center;
}

/* 水平居中 */
.horizontal-center {
	display: flex;
	justify-content: center;
}

/* 向左浮动 */
.pull-left { float: left; }

/* 向右浮动 */
.pull-right { float: right; }

/* 清除浮動 */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix{ *zoom:1; }