/* 清除浮動 */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix{ *zoom:1; }

/* 垂直居中 */
.center {
	display: flex;
	justify-content: center;
	align-items: center;
}